In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv('Datasets/owid-covid-data.csv')

In [3]:
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.498

In [4]:
data.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
44991,NaN,NaN,International,2020-09-16,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44992,NaN,NaN,International,2020-09-17,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44993,NaN,NaN,International,2020-09-18,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44994,NaN,NaN,International,2020-09-19,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44995,NaN,NaN,International,2020-09-20,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.shape

(44996, 41)

In [7]:
data.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,4.439300e+04,44192.000000,43410.000000,44393.000000,44192.000000,43410.000000,44128.000000,44128.000000,43345.000000,44128.000000,...,39625.000000,26444.000000,40153.000000,41559.000000,31499.000000,31102.000000,18750.000000,36304.000000,44170.000000,38737.000000
mean,9.466538e+04,1395.543175,1378.986970,3909.847634,43.346760,43.362335,1793.395413,23.677295,23.282704,55.618874,...,20972.019607,12.037328,251.369006,8.048940,10.832122,32.637045,52.565345,3.114953,74.049867,0.725508
std,9.804426e+05,12722.823174,12478.357311,36447.719036,366.543653,356.304793,3840.443818,72.351346,55.811612,141.022583,...,20462.500710,19.164406,117.613212,4.143619,10.481674,13.409506,31.581434,2.530083,7.365134,0.152685
min,0.000000e+00,-8261.000000,-552.000000,0.000000,-1918.000000,-232.143000,0.000000,-2212.545000,-269.978000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,5.400000e+01,0.000000,0.571000,0.000000,0.000000,0.000000,25.883000,0.000000,0.125000,0.000000,...,5338.454000,0.500000,155.898000,5.310000,1.900000,21.400000,21.222000,1.300000,69.910000,0.606000
50%,9.470000e+02,10.000000,14.214500,18.000000,0.000000,0.143000,267.251000,1.484000,2.858000,4.604500,...,14103.452000,1.800000,238.339000,7.110000,6.400000,31.400000,55.182000,2.500000,75.490000,0.755000
75%,1.011100e+04,157.000000,161.821250,215.000000,3.000000,3.000000,1796.430250,16.663250,18.332000,33.907500,...,32415.132000,16.000000,318.949000,10.180000,19.600000,40.900000,83.741000,4.200000,79.930000,0.853000
max,3.083592e+07,314271.000000,289831.000000,957790.000000,10491.000000,7456.714000,42743.296000,4944.376000,882.924000,1237.551000,...,116935.600000,77.600000,724.417000,23.360000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

In [9]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'tests_per_case', 'positive_rate', 'tests_units', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [11]:
data.nunique()

iso_code                             211
continent                              6
location                             212
date                                 265
total_cases                        16322
new_cases                           3956
new_cases_smoothed                  8533
total_deaths                        5605
new_deaths                          1037
new_deaths_smoothed                 2231
total_cases_per_million            28364
new_cases_per_million              15597
new_cases_smoothed_per_million     17910
total_deaths_per_million           14445
new_deaths_per_million              2973
new_deaths_smoothed_per_million     3659
new_tests                           9370
total_tests                        15433
total_tests_per_thousand           12784
new_tests_per_thousand              2811
new_tests_smoothed                 10483
new_tests_smoothed_per_thousand     2806
tests_per_case                     14397
positive_rate                        529
tests_units                            5
stringency_index                     166
population                           211
population_density                   200
median_age                           133
aged_65_older                        183
aged_70_older                        182
gdp_per_capita                       184
extreme_poverty                       73
cardiovasc_death_rate                186
diabetes_prevalence                  141
female_smokers                       107
male_smokers                         122
handwashing_facilities                92
hospital_beds_per_thousand           100
life_expectancy                      197
human_development_index              155
dtype: int64